@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* 
/   ELEMENTS 
*/
button {
  margin-left: 5px;
}

html, body {
  height: 100%;
  margin: 0px;
  overflow: auto;
}

body{background: orange;}



/* 
/   CLASSES
*/
.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-image: url("../images/circleshrink.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  filter: blur(8px);
  z-index: -10;
}

.titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artImage {
  height: 200px;
  width: auto;
  margin: 30px 5px 0px 5px;
  filter: drop-shadow(5px 5px #563420);
}


/* 
/   IDS
 */
#contentPanel {
  background-image: url("../images/contentBg.png");
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  height: 350px;
  width: 800px;
  margin: auto;
  padding-top: 25px;
  background-color: rgba(0,0,0,0);
  filter: drop-shadow(5px 5px #563420);
}

#contentPanel div {
  font-family: Quicksand;
  font-size: 20px;
  height: 288px;
  width: 715px;
  position: relative;
  top: 10px;
  left: 40px;
}

#siteLogo {
  position: relative;
  width: 625px;
  height: auto;
  z-index: 1;
  filter: drop-shadow(5px 5px #563420);
}

#artBtn, #portfolioBtn, #aboutBtn, #contactBtn {
  background-color: transparent;
  background-size: cover;
  filter: drop-shadow(5px 5px #563420);
  border: none;
  outline: none;
}

#artBtn:hover, #portfolioBtn:hover, #aboutBtn:hover, #contactBtn:hover, #instaContact:hover {
  transform: scale(1.1);
}

#artBtn:active, #portfolioBtn:active, #aboutBtn:active, #contactBtn:active, #instaContact:active {
  transform: scale(1.05);
}

#artBtn {
  background-image: url("../images/button1.png");
  height: 46px;
  width: 81px;
}

#portfolioBtn {
  background-image: url("../images/button2.png");
  height: 59px;
  width: 90px;
}

#aboutBtn {
  background-image: url("../images/button3.png");
  height: 60px;
  width: 79px;
}

#contactBtn {
  background-image: url("../images/button4.png");
  height: 51px;
  width: 121px;
}

#instaContact {
  display: none;
  background-image: url("../images/instaLogo.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px #563420);
}